### Scala template
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
project/scalafmt

# Scala-IDE specific
.idea
.idea_modules
.scala_dependencies
.worksheet
*.iml
mainRunner

# MacOS specific
.DS_Store
